/*Sección contenedora de posicionamiento fixed del header*/
.fixed-header {
  position: fixed;
  top: 0; /*Se agrego estas 3 posteriores lineas para arreglar el flujo roto por la posición fixed*/
  left: 0;
  right: 0;
  background-color: #f8f9fa;
  z-index: 10; /*Arregla que el texto no se vea encimado cuando se hace scroll*/
}

/*Sección contenedora del header general*/
.header {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0;
  font-family: sans-serif;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle; /*Alinea verticalmente*/
  height: 100%;
  line-height: 45px;
  text-align: center; /*Alinea texto de todo lo del nav al centro*/
}

.logo > img,
a {
  width: 15%;
  text-decoration: none;
  color: #025157;
  font-weight: bold;
  vertical-align: middle;
}

.navbar {
  width: 70%;
  text-align: center;
  font-weight: bold;
  color: #025157;
  font-size: 1.1rem;
  list-style-type: none; /*Quitar las viñetas de la lista*/
}

.navbar li a {
  padding: 6px 25px 6px 25px;
  border-radius: 20%;
}

.navbar li a:hover {
  background-color: #67b54b;
  color: #ffff;
}

.actions {
  width: 15%;
  text-align: right;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-emphasis: none;
}

.actions > * {
  margin-right: 6px;
  margin-left: 6px;
}

.actions a {
  color: #67b54b;
  text-decoration: none;
  border-radius: 20%;
  padding: 3px 3px;
}

.actions a:hover {
  background-color: #67b54b;
  color: #ffff;
}

.actions button {
  color: white;
  background-color: #67b54b;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.actions button:hover {
  background-color: #025157;
}

/*Sección contenedora de texto central*/
.main {
  margin-top: 285px;
  text-align: center;
}

/*Generales*/
body {
  background-color: #f8f9fa;
}

li {
  display: inline;
}

h1 {
  color: #025157;
  text-align: center;
  font-size: 60px;
  font-family: "Heebo", sans-serif;
}

h4 {
  color: #8b8b8bcc;
  font-family: "Heebo", sans-serif;
  font-size: 20px;
  text-align: center;
}

p {
  color: #8b8b8bcc;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  font-family: "Heebo", sans-serif;
}

div {
  display: block;
  text-align: center;
}

/*Botones generales*/
.general-buttons button {
  color: #fff;
  position: relative;
  padding: 15px 26px;
  border: unset;
  border-radius: 15px;
  z-index: 1;
  background: #025157;
  font-weight: bold;
  font-size: 16px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
  z-index: 1;
  margin: auto;
  cursor: pointer;
}

.general-buttons button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #67b54b;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.general-buttons button:hover {
  color: #e8e8e8;
}

.general-buttons button:hover::before {
  width: 100%;
}

/*Inputs generales*/
.general-inputs {
  position: relative;
}

.general-inputs .input {
  border: solid 1.5px #025157;
  border-radius: 1.5rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: #025157;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
}

.general-inputs input:focus,
input:valid {
  outline: none;
  border: 1.5px solid #025157;
}

/*Sección contenedora de imágenes centrales*/
.container-images {
  display: flexbox;
  justify-content: center;
  align-items: center;
}

.image-capterra img {
  text-align: center;
  width: 9%;
}

.central-image {
  width: 70%;
}

/*Sección contenedora de video y articulo*/
.promo {
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.publish h3 {
  font-family: "Heebo", serif;
  font-size: 35px;
  line-height: 40px;
  color: #025157;
  text-align: justify;
  margin-top: 0%;
  padding: 0 2rem;
}

.publish > p {
  font-size: 16px;
  color: #343434;
  line-height: 1.2;
  margin-top: 0%;
  margin-bottom: 20px;
  text-align: justify;
  padding: 0 2rem;
}

.publish > form {
  display: flex;
  flex-direction: column;
  margin-top: 0%;
}

.publish > form p {
  color: #025157;
  font-size: 1rem;
  text-align: justify;
  padding: 0 2rem;
  margin-top: 0%;
}

.explanatory-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6%;
}

.explanatory-video img {
  width: 120px;
  margin-top: 10px;
}

/*Sección contendora de ecommerce*/
.ecommerce {
  display: flex;
  background-color: #a1d683;
  align-items: center;
  justify-content: space-around;
  padding: 5% 15%;
  width: 70%;
}

.brands {
  flex: 2;
  padding-right: 100px;
}

.brands h2 {
  font-family: "Heebo", sans-serif;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 0%;
  color: #025157;
  text-align: justify;
}

.brands p {
  color: #343434;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}

.brands img {
  width: 500px;
  max-width: 100%;
  margin-top: 32px;
}

/*Carrusel ecommerce*/
.carrusel {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}

.carrusel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc(300px + 3em);
}

.carrusel-open:checked + .carrusel-item {
  position: static;
  opacity: 100;
}

.carrusel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.carrusel-item img {
  display: block;
  height: auto;
  max-width: 100%;
}

.carrusel-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carrusel-control.prev {
  left: 2%;
}

.carrusel-control.next {
  right: 2%;
}

.carrusel-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#carrusel-1:checked ~ .control-1,
#carrusel-2:checked ~ .control-2,
#carrusel-3:checked ~ .control-3 {
  display: block;
}

.carrusel-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.carrusel-indicador li {
  display: inline-block;
  margin: 0 5px;
}

.carrusel-circulo {
  color: #828282;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.carrusel-circulo:hover {
  color: #aaaaaa;
}

#carrusel-1:checked ~ .control-1 ~ .carrusel-indicador 
li:nth-child(1) .carrusel-circulo,
#carrusel-2:checked ~ .control-2 ~ .carrusel-indicador 
li:nth-child(2) .carrusel-circulo,
#carrusel-3:checked ~ .control-3 ~ .carrusel-indicador 
li:nth-child(3) .carrusel-circulo {
	color: #025157;
}

			