.header {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0;
  font-family: sans-serif;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align: middle; /*Alinea verticalmente*/
  height: 100%;
  line-height: 45px;
  text-align: center; /*Alinea texto de todo lo del nav al centro*/
}

.logo > img, a {
  width: 15%;
  text-decoration: none;
  color: #025157;
  font-weight: bold;
}

.navbar {
  width: 65%;
  text-align: center;
  color: #025157;
  font-weight: 500;
}


.actions {
  width: 15%;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  text-emphasis: none;
}

.actions > * {
  margin-right: 8px;
  margin-left: 8px;
}

.actions a {
  color: #67b54b;
  text-decoration: none;
}

.actions button {
  color: white;
  background-color: #67b54b;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 0;
  border-radius: 5px;
}

.main {
  margin-top: 140px;
  text-align: center;
}

body {
  background-color: #ffff;
}

li {
  display: inline;
}

h1 {
  color: #025157;
  text-align: center;
  font-size: 50px;
  font-family: 'Heebo', sans-serif;
}

h4 {
  color: #8b8b8bcc;
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  text-align: center;
}

p {
  color: #8b8b8bcc;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  font-family: 'Heebo', sans-serif;
}

div {
  display: block;
  text-align: center;
}

button {
  background-color: #025157;
  color: #fff;
}

.contenedorImagenes {
  display: flexbox;
  justify-content: center;
  align-items: center;
}

.imagenCapterra img {
  text-align: center;
  width: 9%;
}

.imagenCentral {
  width: 70%;
}
